.hover-option10 .grid-item figure .portfolio-hover-main {
	padding: 0;
}
.hover-option10 .grid-item .portfolio-icon a,
.hover-option10 .grid-item figure > a i.fa{
	margin: 0 3px;
	height: 40px;
	width: 40px;
	line-height: 38px;
	display: inline-block;
	border-radius: 100%;
	border: 2px solid rgba(255,255,255,1);
	-webkit-box-sizing: border-box;
			  box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	color: #fff;
}
.hover-option10 .grid-item .portfolio-icon a:hover,
.hover-option10 .grid-item figure > a i.fa:hover{
	color: #232323;
	background: #fff;
	border-radius: 5px;
}

.hover-option10 .grid-item .portfolio-icon i.fa,
.hover-option10 .grid-item figure > a i.fa{
	position: relative;
	font-size: 1.6rem;
	top: auto;
}
.hover-option10 .grid-item figure > a i.fa {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 150%;
	opacity: 0;
	display: none;
}
.hover-option10 .grid-item figure:hover > a i.fa {
	opacity: 1;
	top: 50%;
}

.gallery-link {
	display: block;
	height: 50%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
.hover-option10 .grid-item figure a.gallery-link:hover + div.portfolio-img img {
	opacity: .25;
	-webkit-transform: scale(1.12);
			  transform: scale(1.12);
}
.portfolio-grid .grid-item figcaption {
	height: 50%;
}
.portfolio-grid .grid-item figcaption.bg-deep-pink {
	background-color: rgba(231, 36, 114, .5);
}

.hover-option10 .grid-item figure:hover .portfolio-img img {
	opacity: .35;
}

#delivery{
	position: absolute;
	left: -10px;
	bottom: -10px;
	width: 1px;
	height: 1px;
	opacity: 0;
	border: none;
	margin: 0;
	padding: 0;
}

#success-contact-form {
	clear: both;
	margin: 0 15px 15px;
	text-align: center;
	border: 1px solid #1a940a;
	color: #1a940a;
	padding: 10px;
	/* display: none; */
	font-size: 14px;
	position: fixed !important;
	z-index: 1;
	width: 96%;
	left: 50%;
	margin: 0;
	border-radius: 5px;
	background-color: rgba(255,255,255,.8);
	-webkit-transform: translate(-50%,-50%);
			  transform: translate(-50%,-50%);
	top: 50%;
}

#contact-form .radio-block label{
	border-bottom: 1px solid transparent;
}

#contact-form > .has-error > input,
#contact-form .has-error textarea {
	border: 1px solid red;
}
#contact-form label.has-error {
	border-bottom: 1px solid red;
}

@media only screen and (max-width:991px){
	nav.navbar.bootsnav .navbar-collapse.collapse.in {
		height: 100vh !important;
		max-height: none;
		background-color: rgba(27, 155, 194, 0.95);
	}

	nav.navbar.navbar-default ul.nav > li > a {
		font-size: 22px;
		padding: 14px 0 !important;
	}
	#home h1 {
		font-size: 44px;
		line-height: 48px;
	}
	.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
		position: absolute;
		left: 0;
		width: 20px;
		margin: 0px 0 0 0px;
		height: 20px;
		top: 0;
	}
	.checkbox-inline, .radio-inline, .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
		padding-left: 25px;
		margin-left: 15px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width:768px){
	.portfolio-grid li {
		width: 50% !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.hover-option10 .grid-item .portfolio-icon a, .hover-option10 .grid-item figure > a i.fa {
		margin: 0 1px;
		height: 26px;
		width: 26px;
		line-height: 24px;
	}
	.hover-option10 .grid-item .portfolio-icon i.fa, .hover-option10 .grid-item figure > a i.fa {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width:600px){
	.after-before-separator::before, .after-before-separator::after {
		margin: 10px auto !important;
		display: block;
	}

	#modal-popup1 {
		padding: 50px 15px;
	}

	.radio-block{
		text-align: left;
	}

	.radio-block label.radio-inline {
		display: inline-block;
		text-align: left;
		width: 44%;
		vertical-align: top;
	}

	.fancybox-slide.fancybox-slide--video{
		padding: 0 !important;
	}
}
