body{

    box-sizing: content-box;
}

.navbar-color {
background-color: rgb(75, 66, 83);
}

.nav ul {
margin:auto;
text-align: center;
}

#menu-izq {
    margin-left: 0px;

}

.navbar-brand{
margin:auto;

}

.ul {
    margin:auto;
    text-align: center;
    }
    
    .menu-izquierda {
        margin:left;
    text-align: left;
    display: flex;
}

.menu-izquierda li {
    color: white;
    margin-left: 0px;
}

.menu-derecha {

margin-right: 0px;
display: inline-block;
display: flex;
padding-left: 0px;
align-items: center;
}

.menu-derecha li {
    color: white;
  
}

.logo-center {
    margin:auto;
text-align: center;
}

