<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../assets/css/agregadoOk.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
      rel="stylesheet"
    />
    <title>OK</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <p>✅ Se agrego correctamente.</p>
      </div>
      <div class="productContainer">
        <img src="https://www.lovellrugby.es/products/46498.jpg" alt="" />
        <div>
          <div class="productName">
            <p>Inglaterra camiseta Clásica Niños</p>
          </div>
          <div class="productDetails">
            <p>Color: Negro</p>
            <p>Talle: 16</p>
            <p>Cantidad: 1</p>
          </div>
          <p class="productPrice">$1000</p>
        </div>
      </div>
      <div class="productButtons">
        <button class="productButtonsCarrito">Ver carrito</button>
        <button class="productButtonsPay">Pagar</button>
      </div>
    </div>
  </body>
</html>
