/* CSS General */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
  outline: none;
}

/* Cantidad de articulos */

.carrito--items {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

/* Detalle de cada articulo */

article {
  margin: 20px 40px;
  border-bottom: 1px solid grey;
}
.productos__detalles--container {
  display: flex;
  justify-content: space-between;
}
article img {
  width: 80%;
}
article .productos__detalles--texto {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
article .productos__detalles--nombre {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0;
}
article .productos__detalles--info {
  margin-top: 5px;
}
article .productos__detalles--info p {
  margin: 12px 0;
  font-size: 12px;
}
article .productos__detalles--precio {
  font-weight: bold;
}
article .productos__detalles--botones {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
}
article .productos__detalles--botones button {
  width: 100px;
  background-color: #fafafa;
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
}
article .boton__modificar {
  margin-right: 10px;
}

/* Resumen */

.resumen__info {
  margin: 20px 40px;
  padding: 15px;
  background-color: #fafafa;
}

.resumen__producto {
  display: flex;
  justify-content: space-between;
}
.resumen__total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.resumen__boton {
  display: flex;
  justify-content: center;
}

.resumen__boton button {
  margin-top: 15px;
  width: 200px;
  font-size: 20px;
  height: 40px;
  color: white;
  background-color: rgb(9, 167, 9);
  border-radius: 5px;
}

@media only screen and (min-width: 1024px) {
  .containerGeneral {
    display: flex;
    justify-content: space-between;
  }

  /* Cantidad de articulos */

  .carrito--items {
    width: 80%;
  }

  /* Detalle de cada articulo */

  article {
    width: 80%;
  }
  article .productos__detalles--nombre {
    font-size: 20px;
    font-weight: bold;
  }
  article .productos__detalles--info p {
    font-size: 18px;
  }

  .resumen__info {
    width: 80%;
    margin-top: 90px;
  }
}

@media only screen and (min-width: 1400px) {
  /* Cantidad de articulos */
  .carrito--items {
    width: 110%;
  }
  /* Detalle de cada articulo */
  article {
    width: 110%;
  }
}
