

@media (max-width: 1199px) {
    .panel-group * { transition-timing-function: none; -moz-transition-timing-function: none; -webkit-transition-timing-function: none; -o-transition-timing-function: none; transition-duration: 0s; -ms-transition-timing-function: none; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; }
    section {padding: 90px 0}

    /* typography */
    h1, h2, h3, h4, h5, h6 {margin:0 0 0px; padding:0; letter-spacing: 0; font-weight: 400;}
    h1 {font-size:65px; line-height: 65px;}
    h2 {font-size:50px; line-height:55px}
    h3 {font-size:42px; line-height:48px}
    h4 {font-size:35px; line-height:41px}
    h5 {font-size:27px; line-height:32px}
    h6 {font-size:22px; line-height:27px}

    /*text-alignment*/
    .md-text-center {text-align: center;}
    .md-text-left {text-align: left;}
    .md-text-right {text-align: right;}

   
}


@media (max-width: 991px) {

    /* typography */
    h1, h2, h3, h4, h5, h6 {margin:0 0 0px; padding:0; letter-spacing: 0; font-weight: 400;}
    h1 {font-size:57px; line-height: 58px;}
    h2 {font-size:43px; line-height:48px}
    h3 {font-size:36px; line-height:41px}
    h4 {font-size:30px; line-height:35px}
    h5 {font-size:24px; line-height:30px}
    h6 {font-size:22px; line-height:26px}
    p { margin: 0 0 20px; }

    .title-large {font-size: 70px; line-height:65px}
    .title-extra-large {font-size: 100px; line-height:95px}
    .percent {line-height: 125px;}

    /*text-alignment*/
    .sm-text-center {text-align: center;}
    .sm-text-left {text-align: left;}
    .sm-text-right {text-align: right;}
    } 
	
	


@media (max-width: 767px) {

    body { font-size: 12px; line-height: 20px}

    h1, h2, h3, h4, h5, h6 {margin:0 0 0px; padding:0; letter-spacing: 0; font-weight: 400;}
    h1 {font-size:37px; line-height: 42px;}
    h2 {font-size:30px; line-height:36px}
    h3 {font-size:28px; line-height:34px}
    h4 {font-size:24px; line-height:30px}
    h5 {font-size:20px; line-height:28px}
    h6 {font-size:18px; line-height:23px}

    /*text-alignment*/
    .xs-text-center {text-align: center;}
    .xs-text-left {text-align: left;}
    .xs-text-right {text-align: right;}
	
	
	
	
	}