@charset "utf-8";



/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

/* ===================================
    Reset
====================================== */

body{ font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased;  font-smoothing: antialiased; font-size:14px; color:#6f6f6f; font-weight: 400;line-height: 24px;}


/* ===================================
    Typography
====================================== */

/* font family */
.alt-font {font-family: 'Montserrat', sans-serif; font-weight: 500}
.main-font {font-family: 'Roboto', sans-serif;}

/* links */

a, a:active, a:focus { color: #6f6f6f; text-decoration: none; }
a:hover, a:active{color: #000000; text-decoration: underline;}



/* heading */
h1, h2, h3, h4, h5, h6 {margin:0 0 5px; padding:0; letter-spacing: 0; font-weight: 400;}
h1 {font-size:70px; line-height: 30px;}
h2 {font-size:55px; line-height:60px}
h3 {font-size:48px; line-height:54px}
h4 {font-size:40px; line-height:46px}
h5 {font-size:32px; line-height:40px}
h6 {font-size:25px; line-height:30px}




/* text color */
.text-white {color:#FFF}
.text-black {color:#000}
.text-dark-gray {color:#626262}


/* font weight */
.font-weight-100 {font-weight:100}
.font-weight-200 {font-weight:200}
.font-weight-300 {font-weight:300}
.font-weight-400 {font-weight:400}
.font-weight-500 {font-weight:500}
.font-weight-600 {font-weight:600}
.font-weight-700 {font-weight:700}
.font-weight-800 {font-weight:800}
.font-weight-900 {font-weight:900}




/*==============================
    Profile
================================*/
#foto{
   margin-top: 20px;
   text-align: center;
}

#foto img{
    border-radius: 300px;
    width: 160px;
}

#perfil{
   margin-top: 20px;
   padding-left: 0px;
   padding-right: 0px;  
   width: 100%;
}




/* ===================================
    Background color
====================================== */


.bg-white {background-color:#fff;}
.bg-black {background-color:#000;}
.bg-light-gray {background-color:#f7f7f7}




/*==============================
    Margin
================================*/
.margin-five-top {
	margin-top:5%
}


/*==============================
    Padding
================================*/
.padding-20px-all {padding:20px;}
.padding-40px-all {padding:40px;}
.padding-35px-tb {padding-top:35px; padding-bottom:35px;}




/*==============================
    Butons
================================*/


.btn {
	display:inline-block; 
	border:2px solid transparent; 
	color: inherit; letter-spacing: .5px; 
	line-height: inherit; 
	text-transform: uppercase; 
	width: auto;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 600;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	white-space: nowrap;
	}

.btn.btn-transparent-black {
    background: transparent;
    border-color: #000000;
    color: #000000;
}

.btn.btn-transparent-black {
	background: transparent;
	border-color: #000000;
	color: #000000
}
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {
	background: #000000;
	border-color: #000000;
	color: #ffffff;
}

.btn.btn-large {
    font-size: 13px;
    padding: 9px 34px;
    line-height: 25px;
}

.btn.btn-rounded {
    border-radius: 4px;
	padding: 9px 38px;
}






