@media (min-width: 992px) {
    .feature-box-14 > div:nth-child(even) { border-bottom: 0}
    .feature-box-14 > div:nth-child(odd) { border-bottom: 0}

    /*top logo*/
    .navbar-brand-top .navbar-collapse.collapse.display-inline-block { display: inline-block !important; vertical-align: middle;}
    .navbar-brand-top .nav-header-container { text-align: center;}
    .navbar-brand-top .nav-header-container .row { display: block !important; display: block !important; display: block !important;}
    .navbar-brand-top .brand-top-menu-right { vertical-align: middle; position: relative; }
    .navbar.navbar-brand-top .row > div:first-child { flex: inherit;}
}

@media (max-width: 991px) {


    /* header style */
    header * { transition-timing-function: none; -moz-transition-timing-function: none; -webkit-transition-timing-function: none; -o-transition-timing-function: none; -ms-transition-timing-function: none; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; }
    .dropdown-menu { box-shadow: none; border: none; border-top: 1px solid rgba(255, 255, 255, 0.06);}
    .navbar-collapse {left: 0; padding:0; position: absolute; top: 100%; width: 100%;}
   
    nav.navbar.bootsnav .navbar-nav { margin: 0; padding: 0; background-color: rgba(194, 27, 91, 0.95); }
    nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li {border-bottom: none; margin-bottom: 10px}
    nav.navbar.bootsnav li.dropdown.open .mega-menu-full {padding-top: 10px;}
    nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li:last-child {margin-bottom: 0}
    nav.navbar.bootsnav .navbar-nav li, nav.navbar.bootsnav li.dropdown ul.mega-menu-full li.dropdown-header { display: block; clear: both; border-bottom: 1px solid rgba(255, 255, 255, 0.06); border-top: 0; }
    .navbar-nav li > a, nav.navbar.navbar-default ul.nav > li > a, nav.navbar-brand-top.navbar.navbar-default ul.nav > li > a, header .navbar-nav li > a, header nav.navbar-fixed-top.header-light-transparent.white-link .navbar-nav > li > a, header nav.navbar-fixed-top.header-light.white-link .navbar-nav > li > a , nav.navbar.bootsnav li.dropdown ul.mega-menu-full li > a,header.sticky nav.navbar.navbar-default.navbar-fixed-top ul.nav > li > a, header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li > a, nav.navbar.bootsnav li.dropdown ul.mega-menu-full li.dropdown-header{ margin: 0; padding: 9px 15px 8px; color: #ffffff; display: block; line-height: normal;}


    nav.navbar.bootsnav.menu-center ul.nav.navbar-center {width:100%;}
    .center-logo {left: 15px; transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); -webkit-transform: translateX(0px); -o-transform: translateX(0px); max-width:100%;}


    /*text-alignment*/
    .sm-text-center {text-align: center;}
    .sm-text-left {text-align: left;}
    .sm-text-right {text-align: right;}

    /* verticle align */
    .sm-vertical-align-middle {vertical-align: middle;}
    .sm-vertical-align-top {vertical-align: top;}
    .sm-vertical-align-bottom {vertical-align: bottom;}

  
    /* width */
   
    .sm-width-100 {width:100%;}
    .sm-width-auto {width: auto}

    

   