@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');


/* fonts */

.rugby-font {font-family: 'Montserrat', sans-serif; font-weight: 500}

/* h */
h1, h2, h3, h4, h5, h6 {margin:0 0 25px; padding:0; letter-spacing: 0; font-weight: 400;}
h1 {font-size:100px; line-height: 120px;}
h2 {font-size:55px; line-height:60px}
h3 {font-size:48px; line-height:54px}
h4 {font-size:40px; line-height:46px}
h5 {font-size:32px; line-height:40px}
h6 {font-size:20px; line-height:30px}


/* text color */
.text-white {color:#FFF}
.text-black {color:#000}


/* Width */

.width-40 {width:40%;}
.width-100 {width:100%;}
.width-auto {width: auto}


/* menu center logo */

.menu-logo-center .navbar-left > li {float: none; display: inline-block; vertical-align: middle;}


/* header */

header.sticky nav.navbar-fixed-top.header-light.white-link .navbar-nav > li > a,
header.sticky nav.navbar-fixed-top.header-light.white-link .header-menu-button a {color: #232323}


/* navigation */

.header-social-icon a:hover, 
header.sticky nav.navbar-fixed-top.header-light.white-link .navbar-nav > li > a:hover, 

.header.sticky 
{
    color: rgba(0,0,0,0.6)}

header nav {width: 100%; top: 0px; z-index: 99; margin-bottom: 0; display: table; }

header nav .nav-header-container {display: table-cell; vertical-align: middle; position: relative;}

header nav .navbar-nav > li > a {color: #232323; font-size: 12px; font-weight: 800; margin:0 20px; padding: 5px 0px 5px; text-transform: uppercase; letter-spacing: 0.015em;}

header nav.navbar-default .navbar-nav > li > a:hover, header nav.navbar-default .navbar-nav > li > a:focus, header nav.navbar-default .navbar-nav > li.active > a {border-bottom-color: #232323}

header nav .navbar-nav.text-normal > li > a {font-weight: 600; font-size: 12px }

/* mega menu */
nav .accordion-menu { position: inherit;}

/* header center logo */

.center-logo {left: 50%; position: absolute; margin-top: -14px; top: 25%; text-align: center; transform: translateX(-50%); z-index: 1; max-width: 20%}