html {
  font-family: 'Raleway', sans-serif;
  background: #aaa;
  
  }
  body{
    background: #aaa;
    margin: 0;
  }

  .navbar {
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: .5s;
    z-index: 999;
    background: rgba(199, 162, 162, 0.01);
    transition: all 1s ease;
    height: 80px
    font-family: 'Fira Sans', sans-serif;
  }
  
  .navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1px 60px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
  }
  
  .navbar a {
    color: white;
  }

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }



.fira-text{
  font-family: 'Raleway', sans-serif;
}

  a {
    background-color: transparent; }



    .carousel-caption{
height: 50%;
left:0;
top:40%;
width: 100%;
    }    
    
    .carousel-caption-button{
      height: 40%;
      left:0;
      top:0%;
      width: 100%;
          }  


h1 {
  font-family: 'Raleway', sans-serif; font-weight: 900; font-size: 60px; 

}

h2 {
  font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 40px; 
}

h3 {
  font-family: 'Raleway', sans-serif; font-weight: 500; font-size: 25px; 
    
}

h4 {
  font-family: 'Raleway', sans-serif; font-weight: 300; font-size: 20px;    
}

h5 {
  font-family: 'Raleway', sans-serif; font-weight: 500; color: rgb(145, 145, 145); font-size: 15px; 
}

h6 {
    
}

.btn-radius{
  border-radius: 20px;
}

.products-img{
height: 50px;
width: 50%;

}
